.main{
    position: relative;
    top: 120px;
    background-color: rgb(17, 1, 36);
}
.one{
    text-align: left;
    padding-top: 90px;
    padding-left: 20%;
    
}
h1{
    color: rgb(235, 225, 246);
    font-family: 'Raleway Thin';
}